* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Helvetica', sans-serif;
}

body{background-color: rgb(0, 39, 167) ;
}

.container{
    border: 1px solid black;
    margin: 10px auto;
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -10px -10px 60px black;
    color: white;
    font-size: 15px; 
}


